.select-wrapper span.caret {
  i {
    line-height: .5;
  }
}

.input-dropper {
  display: inline-block;
  position: relative;
  text-align: left;
  cursor: pointer;
  padding-right: 1.5rem;
  padding-left: .2rem;
  
  .input-dropper-valuelue {
    
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
    margin-bottom: 0.75rem;

    .dd-span {
      position: relative;
      padding: .3rem .6rem;
      border-radius: 13px;
      margin-right: .3rem;
      

      &::after {
        position: absolute;
        content: ",";
        @extend .blue-grey-text;
        bottom: 3px;
        right: -5px;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
      
    }
  }
  
  .caret {
    
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
    color: rgba(0, 0, 0, 0.3);
    
    i {
      line-height: .5;
    }
  }
}

.dropdown-content {
  // padding: .5rem;
  li {
    min-height: auto;

    label {
      display: block;
      padding: .5rem .7rem;
      height: auto;

      .dd-span {
        display: inline-block;
        line-height: 1.2;
        margin-left: 2rem;
        color: #9c9c9c;
      }

      &::before {
        margin-top: .7rem;
        margin-left: .8rem;
      }
    }
  }
  
  .dd-span {
    padding: .3rem .7rem;
    border-radius: 13px;
  }
}

.tag {
  min-width: 165px;

  .input-dropper-valuelue {
    margin: 0;
    border: none;
    height: auto;
    display: inline;
    line-height: 1;
    color: #c9c9c9;
  }
}

.dropdown-content {
  li {
    
  }
}