.profile {

	.profile-header {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 1.6rem;
	}

	.profile-block {
		border-radius: 2px;
		margin-bottom: 2rem;
		
	}
	
	.info {
		padding: 1rem;
		margin-bottom: 2rem;
		.row {
			margin: 0;
		}
	}
	.profile-section {
		padding: 2rem;
		padding-top: 1rem;
		&:last-child {
			padding-top: 1rem;
			padding-bottom: 2rem;
		}
		p {
			margin-top: 0;
			margin-bottom: 2rem;
		}
	}

	.profile-val {
		font-weight: bold;
		text-transform: uppercase;
		color: #8bc34a;
		margin: 0;
	}

}