.search {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	margin-bottom: 1rem;
	
	.search-btn {
		background-color: inherit;
		border: inherit;
		padding: .9rem 1rem;
		width: 100%;
		border-radius: 2px;
		text-transform: uppercase;
	}

	.input-field {
		margin-top: 0.75rem;
		flex: 0 1 200px;
		margin-right: 1rem;
		label {
			top: 0;
		}
		.dd-span {
			&::after {
				bottom: -16px;
				right: -3px;
			}
		}
	}

	.search-input {
		flex: 1 1 auto;
		width: 80%;
		margin-right: 2rem;
	}
	.search-input-btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#trakerVal {
		flex: 0 1 auto;
		.caret {
			right: -1rem;
		}
		.select-dropdown {
			margin-right: .6rem;
		}
	}

	.start-search-input.input-field {
		margin: 0;
		input {
			margin: 0;
		}
	}
	input,
	.select-wrapper input.select-dropdown {
		margin-bottom: 0.75rem;
	}
}

.search-subbar {
	text-align: right;

	.left {
		text-align: left;
	}

	.right {
		text-align: right;
	}
	
	.ss-name {
		color: #78909c;
	}
	
	.ss-val {
		color: #455a64;
	}
	
	.ss-block {
		display: inline-block;
		margin-bottom: 1rem;
		&:first-child {
			margin-right: .75rem;
			@media screen and (max-width: 1200px) {
				margin: 0;
				margin-bottom: 1rem;
			}
		}
	}
	
	.select-wrapper {
		display: inline-block;
		
		span.caret {
		}
		
		.select-dropdown {
			color: #455a64;
			margin: 0;
			width: auto;
			border: none;
			height: auto;
			line-height: inherit;
			padding-right: 12px;
		}

		.dropdown-content.select-dropdown {
			padding: 0;
		}
	}
}

.waves-effect.waves-light-green .waves-ripple {
	/* The alpha value allows the text and background color
	of the button to still show through. */
	 background-color: rgba(139, 195, 74, 0.65);
 }