<div class="profile container">

	<div class="row">


		<div class="col s12 m5 l4">

			<h5 class="profile-header blue-grey-text">Редактирование профиля</h5>

			<form class="profile-block white z-depth-1">

				<div class="">

					<div class="profile-section">

						<div class="input-field">
							<input id="email" type="email" class="validate">
							<label for="email">Адрес электронной почты</label>
						</div>

						<p class="blue-grey-text">Оставьте поля "Пароль" и "Подтверждение пароля" пустыми, если не хотите изменить пароль</p>

						<div class="input-field">
							<input id="password" type="text" class="validate">
							<label for="password">Пароль</label>
						</div>

						<div class="input-field">
							<input id="dublepass" type="text" class="validate">
							<label for="dublepass">Подтверждение пароля</label>
						</div>

					</div>

					<div class="divider"></div>

					<div class="profile-section">

						<div class="input-field">
							<input id="dublepass" type="text" class="validate">
							<label for="dublepass">Текущий пароль</label>
						</div>

						<div class="input-field">
							<button class="btn light-green waves-effect waves-light" type="submit" name="action">Сохранить </button>
						</div>

					</div>

				</div>


			</form>

			<form class="profile-block card blue-grey">

				<div class="card-content white-text">
					<span class="card-title">Удаление аккаунта</span>
					<p>Не уходите, мы будем без Вас грустить =(</p>
				</div>
				<div class="card-action">
					<a href="#">Покинуть нас</a>
					<a href="#">Остаться</a>
				</div>

			</form>

		</div>

		<div class="col s12 m7 l8">

			<h5 class="profile-header blue-grey-text">Сведения об аккаунте</h5>

			<div class="profile-block info z-depth-1 blue-grey col s6">
				<span class="white-text">Сведения о тарифе</span>
				<p class="profile-val">Normal</p>
			</div>

			<div class="profile-block info z-depth-1 blue-grey col s6">
				<span class="white-text">Остаток средств:</span>
				<p class="profile-val">140 руб.</p>
			</div>

			<h5 class="profile-header blue-grey-text">Избранное</h5>

			<ul class="val-search z-depth-1">

				<li>

					<div class="val-header white">

						<button class="val-btn waves-effect" data-tooltip="Смотреть в браузере">
							<i class="material-icons dp48">play_circle_filled</i>
						</button>

						<button class="val-link active" data-tooltip="Показать все файлы">Чужой: Завет / Alien: Covenant (2017) BDRip 720p от NNNB | 60 fps | Лицензия</button>

						<div class="val-lids" data-tooltip="Количество лидов">1200</div>

						<button class="val-btn waves-effect" data-tooltip="Скачать торрент файл">
							<img class="val-tracker" src="assets/img/trackers/tracker-tor.png" alt="">
						</button>

						<button class="val-btn waves-effect" data-tooltip="Скачать все">
							<i class="material-icons dp48">file_download</i>
						</button>

						<button class="val-btn waves-effect" data-tooltip="Скачать в облако">
							<i class="material-icons dp48">cloud_download</i>
						</button>

						<div class="val-size">1.2 GB</div>

						<button class="val-btn disable waves-effect" data-tooltip="Добавить в избранное">
							<i class="material-icons dp48">star</i>
						</button>

					</div>

					<form class="val-body">

						<ul class="val-list">
							<li class="val-folder">
								<p>
									<i class="material-icons dp48 left">arrow_drop_down</i>
									<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
									<label for="filled-in-box">
										<i class="material-icons dp48">arrow_drop_down</i> VIDEO_TS</label>

									<span class="val-f-size right">1.2 GB</span>
								</p>
								<ul class="val-sublist">
									<li class="val-subfolder">
										<p>
											<i class="material-icons dp48 left">arrow_drop_down</i>
											<input type="checkbox" class="filled-in" hecked="checked" />
											<label for="filled-in-box">VIDEO_TS</label>
											<span class="val-f-size right">20 KB</span>
										</p>
									</li>
								</ul>
							</li>
						</ul>

					</form>

				</li>

				<li>

					<div class="val-header white">

						<button class="val-btn disable waves-effect" data-tooltip="Смотреть в браузере">
							<i class="material-icons dp48">play_circle_filled</i>
						</button>

						<button class="val-link" data-tooltip="Показать все файлы">Чужой: Завет / Alien: Covenant (2017) BDRip 720p от NNNB | 60 fps | Лицензия</button>

						<div class="val-lids" data-tooltip="Количество лидов">1200</div>

						<button class="val-btn waves-effect" data-tooltip="Скачать торрент файл">
							<img class="val-tracker" src="assets/img/trackers/tracker-tor.png" alt="">
						</button>

						<button class="val-btn waves-effect" data-tooltip="Скачать все">
							<i class="material-icons dp48">file_download</i>
						</button>

						<button class="val-btn waves-effect" data-tooltip="Скачать в облако">
							<i class="material-icons dp48">cloud_download</i>
						</button>

						<div class="val-size">1.2 GB</div>

						<button class="val-btn disable waves-effect" data-tooltip="Добавить в избранное">
							<i class="material-icons dp48">star</i>
						</button>

					</div>

				</li>

			</ul>

		</div>


	</div>

</div>