<div class="container">

	<div class="ss-logo">
		<img src="assets/img/logo-large.png" alt="">
	</div>

	<form class="ss-top">

		<div class="start-search z-depth-1 white">

			<div class="start-search-input input-field">
				<input value="" id="" type="text" class="validate" placeholder="Ваш запрос">
			</div>

			<button class="start-search-btn waves-effect waves-light-green light-green-text white" type="submit" name="action">
				Поиск
			</button>

		</div>

		<div class="right search-subbar">
			<div class="ss-block ss-select">
				<span class="ss-name">Размер файла: </span>
				<select multiple>
					<option class="ss-val" disabled selected>Любое</option>
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
				</select>
			</div>
			<div class="ss-block tag">
				<div class="input-dropper" data-activates='dropdown-dropper'>
					<span class="caret">
						<i class="material-icons dp48">arrow_drop_down</i>
					</span>
					<span class="input-dropper-valuelue">Рвзрешение файлов</span>
				</div>

				<ul id='dropdown-dropper' class='dropdown-content'>
					<li>
						<p>
							<input type="checkbox" id="red" />
							<label for="red">
								<span class="dd-span red white-text">Red</span>
							</label>
						</p>
					</li>
					<li>
						<p>
							<input type="checkbox" id="blue" />
							<label for="blue">
								<span class="dd-span blue white-text">Blue</span>
							</label>
						</p>
					</li>
					<li>
						<p>
							<input type="checkbox" id="grey" />
							<label for="grey">
								<span class="dd-span grey white-text">Gray</span>
							</label>
						</p>
					</li>
					<li>
						<p>
							<input type="checkbox" id="pink" />
							<label for="pink">
								<span class="dd-span pink white-text">Pink</span>
							</label>
						</p>
					</li>
					<li>
						<p>
							<input type="checkbox" id="purple" />
							<label for="purple">
								<span class="dd-span purple white-text">Purple</span>
							</label>
						</p>
					</li>
					<li>
						<p>
							<input type="checkbox" id="lime" />
							<label for="lime">
								<span class="dd-span lime white-text">Lime</span>
							</label>
						</p>
					</li>
				</ul>
			</div>
			<div class="ss-block ss-select">
				<span class="ss-name">Выбор трекера: </span>
				<select multiple>
					<option disabled selected>Поиск по всем</option>
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
				</select>
			</div>
		</div>

	</form>

	<form class="ss-bottom">

		<div class="start-search z-depth-1 white">

			<div class="start-search-input input-field">
				<input value="" id="" type="text" class="validate" placeholder="Скопируйте magnet-ссылку">
			</div>

			<button class="start-search-btn waves-effect waves-light-green light-green-text white" type="submit" name="action">
				Открыть
			</button>

		</div>

		<button class="waves-effect waves-light light-green btn">
			<i class="material-icons dp48">folder_open</i>
			<span>открыть torrent-файл</span>
		</button>

	</form>

</div>