<div class="container">

	<div class="ss-logo">
		<img src="assets/img/logo-large.png" alt="">
	</div>

	<form class="ss-top">

		<div class="start-search z-depth-1 white">

			<div class="start-search-input input-field">
				<input value="" id="" type="text" class="validate" placeholder="Ваш запрос">
			</div>

			<button class="start-search-btn waves-effect waves-light-green light-green-text white" type="submit" name="action">
				Поиск
			</button>

		</div>

		<div class="right search-subbar">
			<div class="ss-block">
				<span class="ss-name">Размер файла: </span>
				<select>
					<option class="ss-val">100 MB - 1 GB</option>
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
				</select>
			</div>
			<div class="ss-block tag">
				<select>
					<option class="ss-val"><span>Выбор разширения</span></option>
					<option><span class="red">Option 1</span></option>
					<option>Option 2</option>
					<option>Option 3</option>
				</select>
			</div>
			<div class="ss-block">
				<span class="ss-name">Выбор трекера: </span>
				<select>
					<option class="ss-val">Выбор разширения</option>
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
				</select>
			</div>
		</div>

	</form>

	<form class="ss-bottom">

		<div class="start-search z-depth-1 white">

			<div class="start-search-input input-field">
				<input value="" id="" type="text" class="validate" placeholder="Скопируйте magnet-ссылку">
			</div>

			<button class="start-search-btn waves-effect waves-light-green light-green-text white" type="submit" name="action">
				Открыть
			</button>

		</div>

		<button class="waves-effect waves-light light-green btn">открыть torrent-файл</button>

	</form>

</div>