<div class="container">

	<div class="row">

		<div class="slider-column col l4 offset-l1 hide-on-med-and-down">
			<div class="slider white-text">

				<div>
					<i class="material-icons dp48 light-green-text">access_time</i>
					<h1>Экономия времени</h1>
					<p>Равным образом укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении
						поставленных задач. Таким образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие
						в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
				</div>

				<div>text 2</div>
				<div>text 3</div>
			</div>
		</div>

		<div class="col l4 offset-l2 s12">

			<form class="row login">
				<h6 class="login-header white-text col s12">Вход</h6>
				<div class="input-field col s12">
					<input id="email" type="email" class="validate">
					<label for="email">Адрес электронной почты</label>
				</div>
				<div class="input-field col s12">
					<input id="password" type="password" class="validate">
					<label for="password">Password</label>
				</div>
				<p class="col s12">
					<input type="checkbox" id="test5" />
					<label for="test5">Запомнить меня</label>
				</p>
				<p class="login-btn-block col s12">
					<button>Забыли пароль?</button>
					<button class="login-entr">Войти</button>
				</p>
				<p class="login-btn-block col s12 grey-text">
					Если вы у нас впервые,<br> вам необходимо <a id="reg" href="#" class="light-green-text">Зарегестрироваться</a>
				</p>
			</form>

			<form class="row login login-reg">
				<h6 class="login-header white-text col s12">Регистрация</h6>
				<div class="input-field col s12">
					<input id="email" type="email" class="validate">
					<label for="email">Адрес электронной почты</label>
				</div>
				<div class="input-field col s12">
					<input id="password" type="password" class="validate">
					<label for="password">Пароль</label>
				</div>
				<div class="input-field col s12">
					<input id="text" type="text" class="validate">
					<label for="text">Подтверждение пароля</label>
				</div>
				<p class="login-btn-block col s12">
					<button class="login-entr">Зарегестрировать</button>
				</p>
			</form>

		</div>

	</div>


</div>