<div class="container">
	<form class="row search z-depth-1 white">

		<div class="input-field col m6">
			<input value="" id="" type="text" class="validate" placeholder="Ваш запрос">
		</div>

		<div class="input-field col m2">

			<div class="input-gropper" data-activates='dropdown-dropper'>
				<span class="caret">
					<i class="material-icons dp48">arrow_drop_down</i>
				</span>
				<span class="input-gropper-valuelue">Рвзрешение файлов</span>
			</div>

			<ul id='dropdown-dropper' class='dropdown-content'>
				<li>
					<p>
						<input type="checkbox" id="red" />
						<label for="red"><span class="dd-span red white-text">Red</span></label>
					</p>
				</li>
				<li>
					<p>
						<input type="checkbox" id="blue" />
						<label for="blue"><span class="dd-span blue white-text">Blue</span></label>
					</p>
				</li>
				<li>
					<p>
						<input type="checkbox" id="grey" />
						<label for="grey"><span class="dd-span grey white-text">Gray</span></label>
					</p>
				</li>
			</ul>

		</div>

		<div class="input-field col m3">
			<select multiple>
				<option value="" disabled selected>Выбор трекера</option>
				<option value="1">Ruor</option>
				<option value="2">Rutracker</option>
				<option value="3">PirateBay</option>
			</select>
		</div>

		<div class="input-field col m1">
			<button class="search-btn waves-effect waves-light-green light-green-text" type="submit" name="action">
				Поиск
			</button>
		</div>

	</form>

	<div class="row search-subbar">
		<div class="col s12 m4">
			<span class="ss-name">Найдено результатов: </span>
			<span class="ss-val">364</span>
		</div>
		<div class="right col s12 m8">
			<div class="ss-block">
				<span class="ss-name">Сортировать: </span>
				<select>
					<option class="ss-val">По колличеству сидов</option>
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
				</select>
			</div>
			<div class="ss-block">
				<span class="ss-name">Показывать: </span>
				<select>
					<option class="ss-val">по 10 результатов</option>
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
				</select>
			</div>

		</div>
	</div>

	{{> val-search}}

</div>