<div class="row">

	<ul class="val-search z-depth-1">

		<li>

			<div class="val-header white">

				<button class="val-btn waves-effect" data-tooltip="Смотреть в браузере">
					<i class="material-icons dp48">play_circle_filled</i>
				</button>

				<button class="val-link active" data-tooltip="Показать все файлы">Чужой: Завет / Alien: Covenant (2017) BDRip 720p от NNNB | 60 fps | Лицензия</button>

				<div class="val-lids" data-tooltip="Количество лидов">1200</div>

				<button class="val-btn waves-effect" data-tooltip="Скачать торрент файл">
					<img class="val-tracker" src="assets/img/trackers/tracker-tor.png" alt="">
				</button>

				<button class="val-btn waves-effect" data-tooltip="Скачать все">
					<i class="material-icons dp48">file_download</i>
				</button>

				<button class="val-btn waves-effect" data-tooltip="Скачать в облако">
					<i class="material-icons dp48">cloud_download</i>
				</button>

				<div class="val-size">1.2 GB</div>

				<button class="val-btn disable waves-effect" data-tooltip="Добавить в избранное">
					<i class="material-icons dp48">star</i>
				</button>

			</div>

			<form class="val-body">

				<ul class="val-list">
					<li class="val-folder">
						<p>
							<i class="material-icons dp48 left">arrow_drop_down</i>
							<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
							<label for="filled-in-box">
								<i class="material-icons dp48">arrow_drop_down</i> VIDEO_TS</label>

							<span class="val-f-size right">1.2 GB</span>
						</p>
						<ul class="val-sublist">
							<li class="val-subfolder">
								<p>
									<i class="material-icons dp48 left">arrow_drop_down</i>
									<input type="checkbox" class="filled-in" hecked="checked" />
									<label for="filled-in-box">VIDEO_TS</label>
									<span class="val-f-size right">20 KB</span>
								</p>
							</li>
						</ul>
					</li>
				</ul>

			</form>

		</li>

		<li>

			<div class="val-header white">

				<button class="val-btn disable waves-effect" data-tooltip="Смотреть в браузере">
					<i class="material-icons dp48">play_circle_filled</i>
				</button>

				<button class="val-link" data-tooltip="Показать все файлы">Чужой: Завет / Alien: Covenant (2017) BDRip 720p от NNNB | 60 fps | Лицензия</button>

				<div class="val-lids" data-tooltip="Количество лидов">1200</div>

				<button class="val-btn waves-effect" data-tooltip="Скачать торрент файл">
					<img class="val-tracker" src="assets/img/trackers/tracker-tor.png" alt="">
				</button>

				<button class="val-btn waves-effect" data-tooltip="Скачать все">
					<i class="material-icons dp48">file_download</i>
				</button>

				<button class="val-btn waves-effect" data-tooltip="Скачать в облако">
					<i class="material-icons dp48">cloud_download</i>
				</button>

				<div class="val-size">1.2 GB</div>

				<button class="val-btn disable waves-effect" data-tooltip="Добавить в избранное">
					<i class="material-icons dp48">star</i>
				</button>

			</div>

		</li>

	</ul>

	<div class="pagination-block col s12">

		<ul class="pagination left">
			<li class="disabled">
				<a href="#!">
					<i class="material-icons">chevron_left</i>
				</a>
			</li>
			<li class="active">
				<a href="#!">1</a>
			</li>
			<li class="waves-effect">
				<a href="#!">2</a>
			</li>
			<li class="waves-effect">
				<a href="#!">3</a>
			</li>
			<li class="waves-effect">
				<a href="#!">4</a>
			</li>
			<li class="waves-effect">
				<a href="#!">5</a>
			</li>
			<li class="waves-effect">
				<a href="#!">
					<i class="material-icons">chevron_right</i>
				</a>
			</li>
		</ul>

		<button class="right light-green-text">Показать еще</button>
	</div>	



</div>